/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkcyan;
  cursor: pointer;
  border-radius: 9px/8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: cyan;
}

body{
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to bottom,darkblue, darkcyan);
  background-repeat: no-repeat;
  overflow: hidden;
}

.app{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
}

.navigation-menu{
  margin-top: -65px;
  border-radius: 9px/8px;
  border-bottom: solid 1px darkcyan;
  border-right: solid 1px darkcyan;
  border-image: linear-gradient(to left, darkcyan 50%, transparent 75%) 1;
  padding: 15px;
}

.menu-item{
  display: inline-block;
  color: white;
  list-style: none;
  margin-left: 25px;
}

.menu-item:hover{
  color: darkcyan;
  cursor: pointer;
}

.content-window{
  padding-left: 25px;
  border-top: solid 1px darkcyan;
  border-left: solid 1px darkcyan;
  border-image: linear-gradient(to right, darkcyan 50%, transparent 75%) 1;
  height: 80vh;
  text-align: left;
  background-color:'rgb(0,0,0,0.25)';
  color: white;
}