.quiz-start{
    text-align: center;
}

.start-button {
    margin: 10px 0;
    margin-top: 25px;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    color: black;
    border: 0px solid;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .start-button:hover {
    background-color: darkcyan;
    color: white;
  }
  
  .restart-button{
    text-align: end;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    color: black;
    border: 0px solid;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }

  .restart-button:hover {
    background-color: darkcyan;
    color: white;
  }

  .question {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .options {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .quiz-item {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid darkcyan;
    border-radius: 9px/8px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .quiz-item:hover {
    background-color: darkcyan;
    color: #fff;
  }
  
  .score {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .completed {
    color: #007BFF;
    font-size: 24px;
    margin-top: 20px;
  }
  
  /* Table styles for the performance report */
  .answers {
    margin: 25px;
    border-collapse: collapse;
  }
  
  .answers th, .answers td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .answers th {
    background-color: black;
    color: #fff;
  }
  
  .correct-answer {
    background-color: #dff0d8;
    color: black;
  }
  
  .wrong-answer {
    background-color: #f8d7da;
    color: black;
  }
  
  .container{
    height: 85vh;
    overflow-y: scroll;
  }
  